.row {
  padding: 1rem;
  width: 100%;
  margin-left: 1rem;

  > h2 {
    margin: 0.3rem;
    font-weight: 400;
    color: #EEF2F3;
  }

  > div {
    display: flex;
    overflow-x: auto;
  }
}


.card2{
  height: 150px;
  width: 120px;
  background-color: #FFE4C9;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  
}
.card3{
  height: 155px;
  width: 120px;
  background-color: #EEF2F3;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  margin-bottom: 5px;
}
.card3 span{
  font-size: small;
  text-align: center;
  width: 120px;
}
.card3 ,.card2 a{
  font-size: 1rem;
}
.row-item{
  display: flex;
  gap: 1rem;
  overflow:auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  // height: 155px;
  
}
#sub{
  font-weight: 600;
}
#icon{
  font-size: 40px;
}